<div class="container">
    
    <div class="pitch-area" id="goalkeepers">
    {{#each Goalkeeper}}
    <div class="player">
        <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}
    </div>

    <div class="pitch-area" id="defenders">
    {{#each Defenders}}
    <div class="player">
        <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}
    </div>

    <div class="pitch-area" id="midfielders">
    {{#each Midfielders}}
    <div class="player">
        <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}   
    </div>

    <div class="pitch-area" id="forwards">
    {{#each Forwards}}
    <div class="player">
        <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}
    </div>

    <div class="pitch-area" id="managers">
        <h2>Manager:</h2>
    {{#each Manager}}
    <div class="player">
        <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}
    </div>

</div>