<div class="container">
    {{#each Manager}}
        <div class="squad-list">
            <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
            <p class="img-text">{{surname}}</p>
        </div>
    {{/each}}
    {{#each Goalkeeper}}
        <div class="squad-list">
            <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
            <p class="img-text">{{surname}}</p>
        </div>
    {{/each}}
    {{#each Defenders}}
        <div class="squad-list">
            <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
            <p class="img-text">{{surname}}</p>
        </div>
    {{/each}}
    {{#each Midfielders}}
        <div class="squad-list">
            <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
            <p class="img-text">{{surname}}</p>
        </div>
    {{/each}}
    {{#each Forwards}}
        <div class="squad-list">
            <a href=""><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
            <p class="img-text">{{surname}}</p>
        </div>
    {{/each}}
</div>