<div class="container">
    <div id="formation-select">
        {{!-- <form class="form" method="post">
            <label for="def" class="form-item">
                Defenders:
                <input type="number" name="defenders">
            </label>
            
            <label for="mid" class="form-item">
                Midfielders:
                <input type="number" name="midfielders">
            </label>
            
            <label for="fwd" class="form-item">
                Forwards:
                <input type="number" name="forwards">
            </label>
            
            <input type="submit" name="" value="Submit">
        </form> --}}
    </div>
    <div class="pitch-area" id="goalkeepers">
    {{#each Goalkeeper}}
    <div class="player">
        <a class = "player-link" href="/profile/{{surname}}"><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}
    </div>

    <div class="pitch-area" id="defenders">
    {{#each Defenders}}
    <div class="player">
        <a class = "player-link" href="/profile/{{surname}}"><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}
    </div>

    <div class="pitch-area" id="midfielders">
    {{#each Midfielders}}
    <div class="player">
        <a class = "player-link" href="/profile/{{surname}}"><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}   
    </div>

   
    <div class="pitch-area" id="forwards">
        {{#each Forwards}}
        <div class="player">
            <a class = "player-link" href="/profile/{{surname}}"><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
            <p class="img-text">{{surname}}</p>
        </div>
        {{/each}}
        <div class="corners">
            <div class="bottom-left-corner"></div>
            <div class="bottom-right-corner"></div>
        </div>
    </div>

    <div class="pitch-area" id="managers">
        <h2>Manager:</h2>
    {{#each Manager}}
    <div class="player">
        <a class = "player-link" href="/profile/{{surname}}"><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
        <p class="img-text">{{surname}}</p>
    </div>
    {{/each}}
    </div>

</div>