<div class="container">
    <div class="player" id="player-profile">
            <div>
                <p class="img-text">{{firstName}} {{surname}}</p>
                <a href="/profile/{{surname}}"><img class="img-circle" src="{{picture}}" alt="{{surname}}"></a>
            </div>
    </div>
    <ul class="profile-info-container">
                <li><span class="profile-info">Squad number:</span>&emsp;{{squadNumber}}</li>    
                <li><span class="profile-info">DoB:</span>&emsp;{{dob}}</li>
                <li><span class="profile-info">Position:</span>&emsp;{{position}}</li>
                <li><span class="profile-info">Country</span>&emsp;{{country}}</li>
    </ul>
</div>